a(href='/homePage') Home 
    | .        .
    a(href='/following') Following accounts
    | . .
    a(href='/change') Change account type
    | . .
    a(href='/notifications') notifications
    | . .
    a(href='/likes') likes
    | . .
    a(href='/workshops') workshops
    | . .
    a(href='/startSearch') search
    | . .
    a(href='/uploadArt') upload art
    | . .
    a(href='/reviews') personal Reviews
    | . .
    a(href= '/myWorkshops') enrolled Workshops
    br
    br
    form(action='/logOut', method='POST')
            button#refresh(type="submit") logout
