html
    head
        title login Page
        link(rel='stylesheet', href='/styles.css')
    
    body
        h1 Home
        include header
        each art in gallery
            br
            img(src=art.image width="300" height="300")
            a(href='/artwork/'+ art.name) #{art.name}
            br
        div#results
